.header-section {
    width: 100%;
    height: 110px;
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 5rem;
    padding: 1rem 2rem;
    z-index: 100;
  
}

.header-right {
    text-align: center;
    width: auto;
}

.header-right ul {
    width: auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header-right ul li {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    margin-left: 35px;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
    letter-spacing: 0.5px;
    position: relative;
}

ul li a {
 
    display: inline-block;

    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    transition: all .3s ease-in;
}

ul li a:hover {
    color: rgba(255, 0, 0, 0.753);
    transform: scale(1.1);
}



.menu-button {
    background-color: black;
    width: 70px;
    height: 40px;
    color: white;
    font-size: 2.6rem;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    display: none;
    align-items: center;
    justify-content: center;

}

/* Tablet styles (768px - 1024px) */
@media screen and (max-width: 1200px) {
    .header-section {
    
        justify-content:space-between;
        padding: 1rem 1.5rem;
        background-color: black;
        
    }

    .menu-button {
        display: flex;
    }


    .header-right {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        width: 100%;
        height: 0px;
        top: calc(120px - 10px);
        left: 0%;
        background-color: black;
        z-index: 200;
        overflow: hidden;
        transition: all .3s ease-in;

    }

    .header-right.active {
        opacity: 1;
        visibility:visible;
        height: 400px;
        padding: 1rem 0;
    }

    .header-right ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;

    }

    .header-right ul li {
        font-size: 14px;
        margin-left: 20px;
    }

    ul li a {
        font-size: 16px;
    }
}

/* Mobile styles (< 768px) */
@media screen and (max-width: 768px) {
    .header-section {
        justify-content: space-between;
        padding: 1rem;
        column-gap: 1rem;
    }

    .menu-toggle {
        display: flex;
    }

   
}

/* Small mobile (< 480px) */
@media screen and (max-width: 480px) {
    .header-section {
        padding: 0.75rem;
    }

   

    .header-right ul li {
        font-size: 15px;
        margin-bottom: 1.5rem;
    }
}
