.header-section {
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 5rem;
    padding: 1rem 2rem;
    z-index: 100;
}

.header-right {
    text-align: center;
    width: 50%;
}

.header-right ul {
    width: auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header-right ul li {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    margin-left: 35px;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
    letter-spacing: 0.5px;
    position: relative;
}

ul li a {
    /* border: 3px solid red; */
    display: inline-block;

    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    transition: all .3s ease-in;
}

ul li a:hover {
    color: rgba(255, 0, 0, 0.753);
    transform: scale(1.1);
}

/* Hamburger menu button (hidden by default) */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 101;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    transition: 0.3s;
}

/* Tablet styles (768px - 1024px) */
@media screen and (max-width: 1024px) {
    .header-section {
        column-gap: 2rem;
        padding: 1rem 1.5rem;
    }

    .header-right {
        width: 60%;
    }

    .header-right ul li {
        font-size: 14px;
        margin-left: 20px;
    }

    ul li a {
        font-size: 16px;
    }
}

/* Mobile styles (< 768px) */
@media screen and (max-width: 768px) {
    .header-section {
        justify-content: space-between;
        padding: 1rem;
        column-gap: 1rem;
    }

    .menu-toggle {
        display: flex;
    }

    .header-right {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.95);
        transition: right 0.3s ease-in-out;
        padding-top: 4rem;
    }

    .header-right.active {
        right: 0;
    }

    .header-right ul {
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem;
    }

    .header-right ul li {
        margin-left: 0;
        margin-bottom: 2rem;
        font-size: 16px;
        width: 100%;
    }

    ul li a {
        font-size: 18px;
        display: block;
        width: 100%;
    }
}

/* Small mobile (< 480px) */
@media screen and (max-width: 480px) {
    .header-section {
        padding: 0.75rem;
    }

    .header-right {
        width: 80%;
    }

    .header-right ul li {
        font-size: 15px;
        margin-bottom: 1.5rem;
    }
}