.section-ourgallery {
    padding: 5rem 0;
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.section-ourgallery span {
    font-size: 36px;
    line-height: 46px;

    font-family: "Cookie", cursive;

    color: #e7272d !important;
}

.section-ourgallery h2 {
    width: 40%;
    margin-bottom: 1.5rem !important;
    margin-top: 1rem !important;
    font-size: 42px;
    line-height: 52px;
    font-family: "Cardo", serif;
    color: #111;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}

.ourgallery-imag-container {
    /* border: 3px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.ourgallery-imag-container img {
    width: 25%;
    /* height: 40%; */
}